.Underline:after {
	bottom: 0;
	content: "";
	display: block;
	height: 4px;
	position: absolute;
	background: #52b69d;
	transition: width 0.3s ease 0s, left 0.6s ease 0s;
	width: 0;
	border-radius: 5px;
}
.Underline:hover:after {
	width: 50%;
}

.fontColor {
	font-size: 16px;
	font-weight: 400;
}
